@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
button:focus {
  outline: none;
  border: none;
}

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.glide--rtl {
  direction: rtl;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: url("../../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 406px;
  background-position: 41px -41px;
}

.primary-btn, .secondary-btn {
  padding: 10px 30px;
  color: hsl(0, 0%, 98%);
  border: none;
  outline: none;
  border-radius: 50px;
  font-weight: 500;
}

p {
  margin: 0px;
}

.backdrop {
  background-color: lightblue;
}

.primary-btn {
  background-color: hsl(12, 88%, 59%);
}

.primary-btn-shadow {
  box-shadow: 0 7px 30px -9px hsl(12, 88%, 59%);
}

.secondary-btn {
  background-color: hsl(0, 0%, 98%);
  color: hsl(12, 88%, 59%);
}

.container {
  padding: 0px 1.75rem !important;
}

@media (min-width: 992px) {
  body {
    background-size: 728px;
    background-position: 110% -125px;
  }
  .container {
    max-width: 1110px;
  }
}
.header--container {
  margin-top: 20px;
}
.header--container .header--nav .container .primary-btn {
  display: none;
}
.header--container .header--nav .container .nav--open {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 147px 347px 61px 185px red;
  opacity: 0.8;
}
.header--container .header--nav .container .navbar-collapse .navbar-nav {
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}
.header--container .header--nav .container .navbar-collapse .navbar-nav .nav-item {
  font-weight: 700;
  color: hsl(233, 12%, 13%);
}
.header--container .header--nav .container .navbar-collapse .navbar-nav .nav-item:not(:last-child) {
  margin-bottom: 12px;
}

@media (min-width: 992px) {
  .header--container .header--nav .container .primary-btn {
    display: block;
  }
  .header--container .header--nav .container .navbar-collapse .navbar-nav {
    margin: 10px auto 0px auto;
  }
  .header--container .header--nav .container .navbar-collapse .navbar-nav .nav-item {
    color: hsl(227, 12%, 61%);
  }
  .header--container .header--nav .container .navbar-collapse .navbar-nav .nav-item:not(:last-child) {
    margin-right: 32px;
  }
}
.section--one {
  margin-bottom: 100px;
}
.section--one .container .intro--img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  margin-top: 35px;
}
.section--one .container .intro--info {
  text-align: center;
}
.section--one .container .intro--info .intro--title {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(228, 39%, 23%);
}
.section--one .container .intro--info p {
  color: hsl(227, 12%, 61%);
  margin-bottom: 26px;
}

@media screen and (min-width: 992px) {
  .section--one .container .intro--img {
    width: 50%;
  }
  .section--one .container .intro--info {
    width: 50%;
    text-align: left;
  }
  .section--one .container .intro--info .intro--title {
    font-size: 3.25rem;
  }
  .section--one .container .intro--info p {
    width: 60%;
  }
}
.section--two {
  margin-bottom: 80px;
}
.section--two .container-left {
  margin-bottom: 55px;
  text-align: center;
}
.section--two .container-left img {
  display: none;
}
.section--two .container-left .container h2 {
  font-size: 2rem;
  font-weight: 700;
}
.section--two .container-left .container p {
  color: hsl(227, 12%, 61%);
  font-size: 0.9375rem;
  font-weight: 500;
}
.section--two .container-right .feature--card {
  padding-left: 15px;
}
.section--two .container-right .feature--card:not(:last-child) {
  margin-bottom: 50px;
}
.section--two .container-right .feature--card .feature--card--header {
  margin-bottom: 15px;
  border-radius: 50px 0 0 50px;
  background-color: hsl(11, 91%, 86%);
}
.section--two .container-right .feature--card .feature--card--header span {
  margin-right: 12px;
  padding: 10px 21px;
}
.section--two .container-right .feature--card .feature--card--header p {
  font-weight: 700;
  color: hsl(233, 12%, 13%);
}
.section--two .container-right .feature--card .feature--card--body {
  text-align: left;
  color: hsl(227, 12%, 61%);
  padding-right: 22px;
  font-size: 1rem;
  line-height: 25px;
}

@media screen and (min-width: 992px) {
  .section--two {
    margin: 0 auto 156px auto;
    max-width: 1110px;
  }
  .section--two .container-left,
  .section--two .container-right {
    width: 50% !important;
  }
  .section--two .container-left {
    text-align: left;
    position: relative;
  }
  .section--two .container-left img {
    display: block;
    width: 728px;
    bottom: -552px;
    left: -541px;
    position: absolute;
  }
  .section--two .container-left .container h2 {
    margin: 0 0 30px 0;
  }
  .section--two .container-left .container p {
    width: 63%;
  }
  .section--two .container-right .feature--card .feature--card--header {
    background-color: transparent;
    font-weight: 700;
  }
  .section--two .container-right .feature--card:not(:last-child) {
    margin: 0 0 40px 0;
  }
}
.section--three {
  margin-bottom: 40px;
}
.section--three h2 {
  color: hsl(228, 39%, 23%);
  text-align: center;
  font-size: 2.0625rem;
  font-weight: 700;
  margin: 0 0 80px 0;
}
.section--three #feedback {
  margin-bottom: 50px;
}
.section--three #feedback .feedback--card--container {
  position: relative;
  padding: 0 30px;
}
.section--three #feedback .feedback--card--container .customer--img {
  position: absolute;
  top: -43px;
  width: 80px;
}
.section--three #feedback .feedback--card--container .feedback--card {
  padding: 62px 24px 44px 24px;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}
.section--three #feedback .feedback--card--container .feedback--card .customer--name {
  font-weight: 700;
}
.section--three #feedback .feedback--card--container .feedback--card .customer--feedback {
  margin-top: 20px;
  color: hsl(227, 12%, 61%);
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .section--three {
    padding: 0px !important;
    width: 100%;
    overflow: hidden;
  }
  .section--three .text-center .primary-btn {
    margin: 0px 0 180px 0;
  }
  .section--three h2 {
    margin: 0 0 84px 0;
  }
  .section--three #feedback .feedback--card--container {
    padding: 0px;
  }
  .section--three #feedback .feedback--card--container:not(:last-child) {
    margin-right: 25px;
  }
  .section--three #feedback .feedback--card--container .feedback--card {
    width: 535px;
  }
}
.section--four {
  background-color: hsl(12, 88%, 59%);
  padding: 44px;
  text-align: center;
}
.section--four .section--four--container h2 {
  font-size: 2.1875rem;
  color: hsl(0, 0%, 98%);
  margin-bottom: 22px;
}
.section--four .section--four--container button {
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  .section--four .section--four--container {
    margin: 0 auto;
    max-width: 1110px;
  }
  .section--four .section--four--container h2 {
    width: 46%;
    text-align: left;
    margin: 0;
  }
}
.section--five {
  padding: 50px 24px;
  background-color: hsl(228, 39%, 23%);
}
.section--five .section--five--container .section--form {
  margin-bottom: 60px;
}
.section--five .section--five--container .section--form input {
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 0.875rem;
  margin-right: 5px;
  border: none;
}
.section--five .section--five--container .section--form input:focus-visible {
  outline: none;
}
.section--five .section--five--container .section--links {
  margin-bottom: 40px;
}
.section--five .section--five--container .section--links ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.section--five .section--five--container .section--links ul li {
  text-align: left;
  color: hsl(227, 12%, 61%);
}
.section--five .section--five--container .section--links ul li:not(:last-child) {
  margin: 0 0 15px 0;
}
.section--five .section--five--container .section--social {
  margin: 0 0 50px 0;
}
.section--five .section--five--container .section--social .social--links {
  margin: 0 0 50px 0;
}
.section--five .section--five--container .section--social .social--links img {
  width: 40px;
}
.section--five .section--five--container .section--social h2 {
  color: hsl(0, 0%, 98%);
  font-size: 2.8125rem;
}
.section--five .section--five--container .copywrite {
  color: hsl(227, 12%, 61%);
  font-size: 11px;
}

@media screen and (min-width: 992px) {
  .section--five {
    position: relative;
  }
  .section--five .section--five--container {
    max-width: 1110px;
    margin: 0 auto;
  }
  .section--five .section--five--container .section--links .social-left {
    margin: 0 103px 0 0;
  }
  .section--five .section--five--container .section--social {
    position: relative;
    margin: 0px;
  }
  .section--five .section--five--container .section--social .social--links {
    position: absolute;
    bottom: -150px;
  }
  .section--five .section--five--container .section--social .social--links img {
    width: 24px;
  }
  .section--five .section--five--container .copywrite {
    position: absolute;
    bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */