@use "color" as color;
@use "variables" as var;
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    background: url("../../images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 406px;
    background-position: 41px -41px;

}
.primary-btn , .secondary-btn{
    padding: 10px 30px;
    color: color.$very-light-gray;
    border: none;
    outline: none;
    border-radius: 50px;
    font-weight: 500;
}
p{
    margin: 0px;
}
.backdrop{
    // background-color: lightblue;
}
.primary-btn{
    background-color: color.$bright-red;
}
.primary-btn-shadow{
    box-shadow: 0 7px 30px -9px color.$bright-red;
}
.secondary-btn{
    background-color: color.$very-light-gray;
    color: color.$bright-red;
}

.container{
    padding: 0px 1.75rem !important;
}

@media  (min-width : var.$DESKTOP_DEVICE) {
    body{
        background-size: 728px;
        background-position: 110% -125px;
    }
    .container{
        max-width: 1110px;
    }
}