
@use "color" as color;
@use "variables" as var;
.header--container {
    margin-top: 20px;
    .header--nav{
        .container{
            .primary-btn{
                display: none;
            }
            .nav--open{
                position: relative;
                background-color: rgba(0, 0, 0, 0.4);
                box-shadow: 147px 347px 61px 185px red ;
                opacity: 0.8;
            }
            .navbar-collapse{
                .navbar-nav{
                    margin-top: 20px;
                    border-radius: 5px;
                    text-align: center;
                    padding: 20px;

                    .nav-item{
                        font-weight: 700;
                        color: color.$very-dark-blue;
                        &:not(:last-child){
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }
    }
}


@media  (min-width : var.$DESKTOP_DEVICE) {
    .header--container{
        .header--nav{
            .container{
                .primary-btn{
                    display: block;
                }
                .navbar-collapse{
                    .navbar-nav{
                        margin: 10px auto 0px auto;
                        .nav-item{
                            color: color.$dark-grayish-blue;
                            &:not(:last-child){
                                margin-right: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
}