
@use "color" as color;
@use "variables" as var;
.header--container {
    margin-top: 20px;
    .header--nav{
        .container{
            position: relative;
            .primary-btn{
                display: none;
            }
            .nav--open{
                position: relative;
                background-color: rgba(0, 0, 0, 0.4);
                box-shadow: 147px 347px 61px 185px red ;
                opacity: 0.8;
            }
            .navbar-collapse{
                // margin-top: 20px;
                padding: 20px;
                background-color: color.$very-light-gray;
                border-radius: 5px;
                position: absolute;
                top: 40px;
                width: calc(100% - 60px);
                .navbar-nav{
                    border-radius: 5px;
                    text-align: center;

                    .nav-item{
                        font-weight: 700;
                        color: color.$very-dark-blue;
                        &:not(:last-child){
                            margin-bottom: 12px;
                        }
                    }
                }
            }

            .navbar-toggler{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 40px;
                height: 40px;
                border: none;
                padding: 0px;
                &:focus{
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
                .line{
                    width: 60%;
                    height: 2px;
                    background-color: color.$dark-blue;
                    &:not(:last-child){
                        margin-bottom: 4px;
                    }
                }
            }

            .animate-humberger{
              #line-1{
                transform:  rotate(45deg) ;
              }
              #line-2{
                display: none;
              }
              #line-3{
                transform: translateY(-6px) rotate(-45deg);
              }
            }
        }
    }
}


@media  (min-width : var.$DESKTOP_DEVICE) {
    .header--container{
        .header--nav{
            .container{
                .primary-btn{
                    display: block;
                }
                .navbar-collapse{
                    margin: 0px;
                    padding: 0px;
                    background-color: transparent;
                    width: fit-content;
                    position: initial;
                    .navbar-nav{
                        margin: 10px auto 0px auto;
                        .nav-item{
                            color: color.$dark-grayish-blue;
                            &:not(:last-child){
                                margin-right: 32px;
                            }
                        }
                    }
                }

                .navbar-toggler{
                    display: none;
                }
            }
        }
    }
}