@use "color" as color;
@use "mixins" as mixin;
@use "variables" as var;

.section--three {
    margin-bottom: 40px;

    h2 {
        color: color.$dark-blue;
        text-align: center;
        font-size: mixin.to-rem(33);
        font-weight: 700;
        margin: 0 0 80px 0;
    }

    #feedback {
        margin-bottom: 50px;
        flex-direction: column !important;

        .slick-dots {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            padding: 0px;
            .slick-active {
                button {
                    background-color: color.$bright-red;
                }
            }

            li {
                button {
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    border: 1px solid color.$bright-red;
                    background-color: color.$very-light-gray;
                    outline: none;

                    &:focus {
                        outline: none;
                        border: none;
                    }
                }

                &:not(:last-child) {
                    margin-right: 10px;
                }

            }
        }

        .feedback--card--container {
            position: relative;
            padding: 0 30px;

            .customer--img {
                position: relative;
                top: 43px;
                width: 80px;
            }

            .feedback--card {
                // background-color: color.$dark-grayish-blue;
                padding: 62px 24px 44px 24px;
                text-align: center;
                background-color: color.$light-grey;
                border-radius: 5px;

                .customer--name {
                    font-weight: 700;
                }

                .customer--feedback {
                    margin-top: 20px;
                    color: color.$dark-grayish-blue;
                    font-weight: 500;
                }
            }
        }
    }

}

@media screen and (min-width : var.$DESKTOP_DEVICE) {
    .section--three {
        padding: 0px !important;
        width: 100%;
        overflow: hidden;

        .text-center {
            .primary-btn {
                margin: 0px 0 180px 0;
            }

        }

        h2 {
            margin: 0 0 84px 0;
        }

        #feedback {
            
            .feedback--card--container {
                padding: 0px;

                &:not(:last-child) {
                    margin-right: 25px;
                }

                // .feedback--card {
                //     width: 535px;
                // }
            }
        }
    }
}