@use "mixins" as mixin;
@use "color" as color;
@use "variables" as var;

.section--two {
    margin-bottom: 80px;

    .container-left {
        margin-bottom: 55px;
        text-align: center;
        img{
            display: none;
        }
        .container {    
            h2 {
                font-size: mixin.to-rem(32);
                font-weight: 700;
            }

            p {
                color: color.$dark-grayish-blue;
                font-size: mixin.to-rem(15);
                font-weight: 500;
            }
        }
    }

    .container-right {
        .feature--card {
            &:not(:last-child) {
                margin-bottom: 50px;
            }

            padding-left: 15px;

            .feature--card--header {
                margin-bottom: 15px;
                border-radius: 50px 0 0 50px;
                background-color: color.$light-red;

                span {
                    margin-right: 12px;
                    padding: 10px 21px;
                }

                p {
                    font-weight: 700;
                    color: color.$very-dark-blue;
                }
            }

            .feature--card--body {
                text-align: left;
                color: color.$dark-grayish-blue;
                padding-right: 22px;
                font-size: mixin.to-rem(16);
                line-height: 25px;
            }
        }
    }
}

@media screen and (min-width : var.$DESKTOP_DEVICE) {
    .section--two {
        margin: 0 auto 156px auto;
        max-width: 1110px;

        .container-left,
        .container-right {
            width: 50% !important;
        }

        .container-left {
            text-align: left;
            position: relative;

            img {
                display: block;
                width: 728px;
                bottom: -552px;
                left: -541px;
                position: absolute;
            }

            .container {
                h2 {
                    margin: 0 0 30px 0;
                }

                p {
                    width: 63%;
                }
            }
        }

        .container-right {
            .feature--card {
                .feature--card--header {
                    background-color: transparent;
                    font-weight: 700;
                }

                &:not(:last-child) {
                    margin: 0 0 40px 0;
                }
            }
        }

    }
}